AWSTemplateFormatVersion: "2010-09-09"
{# ToDo: Define variables for cloud formation stacks #}
Resources:
{% for k, v in RootConfig.items() %}
    {% if "GlueJob" in k %}
    {{ "#   " + v.Description }}
    {{ k }}:
        Type: AWS::Glue::Job
        Properties:
            {% if v.AllocatedCapacity != None %}
            AllocatedCapacity: {{ v.AllocatedCapacity }}
            {% endif %}
            Command:
                {% if v.CommandName != None %}
                Name: {{ v.CommandName }}
                {% endif %}
                {% if v.CommandPythonVersion != None %}
                PythonVersion: {{ v.CommandPythonVersion }}
                {% endif %}
                {% if v.CommandScriptLocation != None %}
                ScriptLocation: {{ v.CommandScriptLocation }}
                {% endif %}
            {% for i in v.Connections if i != None %}
            Connections:
                - {{ v.Connections[0] }}
            {% endfor %}
            {% if v.DefaultArguments != None %}
            DefaultArguments: {{ v.DefaultArguments }}
            {% endif %}
            {% if v.Description != None %}
            Description: {{ v.Description }}
            {% endif %}
            {% if v.MaxConcurrentRuns != None %}
            ExecutionProperty:
                MaxConcurrentRuns: {{ v.MaxConcurrentRuns }}
            {% endif %}
            {% if v.GlueVersion != None %}
            GlueVersion: {{ v.GlueVersion }}
            {% endif %}
            {% if v.LogUri != None %}
            LogUri: {{ v.LogUri }}
            {% endif %}
            {% if v.MaxCapacity != None %}
            MaxCapacity: {{ v.MaxCapacity }}
            {% endif %}
            {% if v.MaxRetries != None %}
            MaxRetries: {{ v.MaxRetries }}
            {% endif %}
            {% if v.Name != None %}
            Name: {{ v.Name }}
            {% endif %}
            {% if v.NumberOfWorkers != None %}
            NumberOfWorkers: {{ v.NumberOfWorkers }}
            {% endif %}
            {% if v.Role != None %}
            Role: {{ v.Role }}
            {% endif %}
            {% if v.SecurityConfiguration != None %}
            SecurityConfiguration: {{ v.SecurityConfiguration }}
            {% endif %}
            {% if v.WorkerType != None %}
            WorkerType: {{ v.WorkerType }}
            {% endif %}
    {% endif %}
{######################################################################################################################}
    {% if "GlueClassifier" in k %}
    {{ "#   " + v.Name }}
    {{ k }}:
        Type: AWS::Glue::Classifier
        Properties:
            {% if v.CsvClassifier.Delimiter != None and v.CsvClassifier.QuoteSymbol != None %}
            CsvClassifier:
                {% if v.CsvClassifier.AllowSingleColumn != None %}
                AllowSingleColumn: {{v.CsvClassifier.AllowSingleColumn}}
                {% endif %}
                {% if v.CsvClassifier.ContainsHeader != None %}
                ContainsHeader: {{v.CsvClassifier.ContainsHeader}}
                {% endif %}
                {% if v.CsvClassifier.Delimiter != None %}
                Delimiter: {{v.CsvClassifier.Delimiter}}
                {% endif %}
                {% if v.CsvClassifier.DisableValueTrimming != None %}
                DisableValueTrimming: {{v.CsvClassifier.DisableValueTrimming}}
                {% endif %}
                {% for i in v.CsvClassifier.Header if i != None %}
                Header:
                    {% for j in v.CsvClassifier.Header %}
                    - {{ j }}
                    {% endfor %}
                {% endfor %}
                {% if v.Name != None %}
                Name: {{ v.Name }}
                {% endif %}
                {% if v.CsvClassifier.QuoteSymbol != None %}
                QuoteSymbol: {{ v.CsvClassifier.QuoteSymbol }}
                {% endif %}
            {% endif %}
            {% if v.GrokClassifier.CustomPatterns != None and v.GrokClassifier.GrokPattern != None %}
            GrokClassifier:
                {% if v.Classification != None %}
                Classification: {{ v.Classification }}
                {% endif %}
                {% if v.GrokClassifier.CustomPatterns != None %}
                CustomPatterns: {{ v.GrokClassifier.CustomPatterns }}
                {% endif %}
                {% if v.GrokClassifier.GrokPattern != None %}
                GrokPattern: {{ v.GrokClassifier.GrokPattern }}
                {% endif %}
                {% if v.Name != None %}
                Name: {{ v.Name }}
                {% endif %}
            {% endif %}
            {% if v.JsonClassifier.JsonPath != None and v.JsonClassifier.Name != None %}
            JsonClassifier:
                {% if v.JsonClassifier.JsonPath != None %}
                JsonPath: {{ v.JsonClassifier.JsonPath }}
                {% endif %}
                {% if v.Name != None %}
                Name: {{ v.Name }}
                {% endif %}
            {% endif %}
            {% if v.XMLClassifier.Classification != None and v.XMLClassifier.Name != None %}
            XMLClassifier:
                {% if v.Classification != None %}
                Classification: {{ v.Classification }}
                {% endif %}
                {% if v.Name != None %}
                Name: {{ v.Name }}
                {% endif %}
                {% if v.XMLClassifier.RowTag != None %}
                RowTag: {{ v.XMLClassifier.RowTag }}
                {% endif %}
            {% endif %}
    {% endif %}
{######################################################################################################################}
    {% if "GlueDatabase" in k %}
    {% if v.Name != None and v.Parameters != None %}
    {{ '#   ' + v.Description }}
    {{ k }}:
        Type: AWS::Glue::Database
        Properties:
            {% if v.CatalogId != None %}
            CatalogId: {{ v.CatalogId }}
            {% endif %}
            DatabaseInput:
                {% if v.Description != None %}
                Description: {{ v.Description }}
                {% endif %}
                {% if v.LocationUri != None %}
                LocationUri: {{ v.LocationUri }}
                {% endif %}
                {% if v.Name != None %}
                Name: {{ v.Name }}
                {% endif %}
                {% if v.Parameters != None %}
                Parameters: {{ v.Parameters }}
                {% endif %}
    {% endif %}
    {% endif %}
{######################################################################################################################}
    {% if "GlueCrawler" in k %}
    {% if v.Name != None and v.Parameters != None %}
    {{ '#   ' + v.Description }}
    {{ k }}:
        Type: AWS::Glue::Crawler
        Properties:
            {% for c in v.Classifiers if c != None %}
            Classifiers:
                {% for cl in v.Classifiers %}
                {{ '- ' + cl }}
                {% endfor %}
            {% endfor %}
            {% if v.Configuration != None %}
            Configuration: {{ v.Configuration }}
            {% endif %}
            {% if v.CrawlerSecurityConfiguration != None %}
            CrawlerSecurityConfiguration: {{ v.CrawlerSecurityConfiguration }}
            {% endif %}
            {% if v.DatabaseName != None %}
            DatabaseName: {{ v.DatabaseName }}
            {% endif %}
            {% if v.Description != None %}
            Description: {{ v.Description }}
            {% endif %}
            {% if v.Name != None %}
            Name: {{ v.Name }}
            {% endif %}
            {% if v.Role != None %}
            Role: {{ v.Role }}
            {% endif %}
            {% if v.ScheduleExpression != None %}
            Schedule:
                ScheduleExpression: {{ vScheduleExpression }}
            {% endif %}
            {% if v.DeleteBehavior != None and v.UpdateBehavior != None %}
            SchemaChangePolicy:
                {% if v.DeleteBehavior != None %}
                DeleteBehavior: {{ v.DeleteBehavior }}
                {% endif %}
                {% if v.UpdateBehavior != None %}
                UpdateBehavior: {{ v.UpdateBehavior }}
                {% endif %}
            {% endif %}
            {% if v.TablePrefix != None %}
            TablePrefix: {{ v.TablePrefix }}
            {% endif %}
            {% if v.Tags != None %}
            Tags: {{ v.Tags }}
            {% endif %}
            {% if v.JdbcTargets != None and v.S3Targets != None %}
            Targets:
                {% if v.JdbcTargets != None %}
                JdbcTargets:
                    {% for j in v.JdbcTargets %}
                    - {{ j }}
                    {% endfor %}
                {% endif %}
                {% if v.S3Targets != None %}
                S3Targets:
                    {% for s in v.S3Targets %}
                    - Path: {{ s }}
                    {% endfor %}
                {% endif %}
            {% endif %}
    {% endif %}
    {% endif %}
{######################################################################################################################}
{% endfor %}