AWSTemplateFormatVersion: "2010-09-09"
{% for k, v in RootConfig.items() %}
{% if "Parameters" in k %}
Parameters:
    {% for param in v %}
    {{ param }}
    {% endfor %}
{% endif %}
{% endfor %}

Resources:
{% for k, v in RootConfig.items() %}
    {% if "GlueJob" in k %}
    {{ "#   " + v.Description }}
    {{ k }}:
        Type: AWS::Glue::Job
        Properties:
            {% if v.AllocatedCapacity != None %}
            AllocatedCapacity: {{ v.AllocatedCapacity }}
            {% endif %}
            Command:
                {% if v.CommandName != None %}
                Name: {{ v.CommandName }}
                {% endif %}
                {% if v.CommandPythonVersion != None %}
                PythonVersion: {{ v.CommandPythonVersion }}
                {% endif %}
                {% if v.CommandScriptLocation != None %}
                ScriptLocation: {{ v.CommandScriptLocation }}
                {% endif %}
            {% for i in v.Connections if i != None %}
            Connections:
                - {{ v.Connections[0] }}
            {% endfor %}
            {% if v.DefaultArguments != None %}
            DefaultArguments: {{ v.DefaultArguments }}
            {% endif %}
            {% if v.Description != None %}
            Description: {{ v.Description }}
            {% endif %}
            {% if v.MaxConcurrentRuns != None %}
            ExecutionProperty:
                MaxConcurrentRuns: {{ v.MaxConcurrentRuns }}
            {% endif %}
            {% if v.GlueVersion != None %}
            GlueVersion: {{ v.GlueVersion }}
            {% endif %}
            {% if v.LogUri != None %}
            LogUri: {{ v.LogUri }}
            {% endif %}
            {% if v.MaxCapacity != None %}
            MaxCapacity: {{ v.MaxCapacity }}
            {% endif %}
            {% if v.MaxRetries != None %}
            MaxRetries: {{ v.MaxRetries }}
            {% endif %}
            {% if v.Name != None %}
            Name: {{ v.Name }}
            {% endif %}
            {% if v.NumberOfWorkers != None %}
            NumberOfWorkers: {{ v.NumberOfWorkers }}
            {% endif %}
            {% if v.Role != None %}
            Role: {{ v.Role }}
            {% endif %}
            {% if v.SecurityConfiguration != None %}
            SecurityConfiguration: {{ v.SecurityConfiguration }}
            {% endif %}
            {% if v.WorkerType != None %}
            WorkerType: {{ v.WorkerType }}
            {% endif %}
    {% endif %}
{######################################################################################################################}
    {% if "GlueClassifier" in k %}
    {{ "#   " + v.Name }}
    {{ k }}:
        Type: AWS::Glue::Classifier
        Properties:
            {% if v.CsvClassifier.Delimiter != None and v.CsvClassifier.QuoteSymbol != None %}
            CsvClassifier:
                {% if v.CsvClassifier.AllowSingleColumn != None %}
                AllowSingleColumn: {{v.CsvClassifier.AllowSingleColumn}}
                {% endif %}
                {% if v.CsvClassifier.ContainsHeader != None %}
                ContainsHeader: {{v.CsvClassifier.ContainsHeader}}
                {% endif %}
                {% if v.CsvClassifier.Delimiter != None %}
                Delimiter: {{v.CsvClassifier.Delimiter}}
                {% endif %}
                {% if v.CsvClassifier.DisableValueTrimming != None %}
                DisableValueTrimming: {{v.CsvClassifier.DisableValueTrimming}}
                {% endif %}
                {% for i in v.CsvClassifier.Header if i != None %}
                Header:
                    {% for j in v.CsvClassifier.Header %}
                    - {{ j }}
                    {% endfor %}
                {% endfor %}
                {% if v.Name != None %}
                Name: {{ v.Name }}
                {% endif %}
                {% if v.CsvClassifier.QuoteSymbol != None %}
                QuoteSymbol: {{ v.CsvClassifier.QuoteSymbol }}
                {% endif %}
            {% endif %}
            {% if v.GrokClassifier.CustomPatterns != None and v.GrokClassifier.GrokPattern != None %}
            GrokClassifier:
                {% if v.Classification != None %}
                Classification: {{ v.Classification }}
                {% endif %}
                {% if v.GrokClassifier.CustomPatterns != None %}
                CustomPatterns: {{ v.GrokClassifier.CustomPatterns }}
                {% endif %}
                {% if v.GrokClassifier.GrokPattern != None %}
                GrokPattern: {{ v.GrokClassifier.GrokPattern }}
                {% endif %}
                {% if v.Name != None %}
                Name: {{ v.Name }}
                {% endif %}
            {% endif %}
            {% if v.JsonClassifier.JsonPath != None and v.JsonClassifier.Name != None %}
            JsonClassifier:
                {% if v.JsonClassifier.JsonPath != None %}
                JsonPath: {{ v.JsonClassifier.JsonPath }}
                {% endif %}
                {% if v.Name != None %}
                Name: {{ v.Name }}
                {% endif %}
            {% endif %}
            {% if v.XMLClassifier.Classification != None and v.XMLClassifier.Name != None %}
            XMLClassifier:
                {% if v.Classification != None %}
                Classification: {{ v.Classification }}
                {% endif %}
                {% if v.Name != None %}
                Name: {{ v.Name }}
                {% endif %}
                {% if v.XMLClassifier.RowTag != None %}
                RowTag: {{ v.XMLClassifier.RowTag }}
                {% endif %}
            {% endif %}
    {% endif %}
{######################################################################################################################}
    {% if "GlueDatabase" in k %}
    {% if v.Name != None and v.Parameters != None %}
    {{ '#   ' + v.Description }}
    {{ k }}:
        Type: AWS::Glue::Database
        Properties:
            {% if v.CatalogId != None %}
            CatalogId: {{ v.CatalogId }}
            {% endif %}
            DatabaseInput:
                {% if v.Description != None %}
                Description: {{ v.Description }}
                {% endif %}
                {% if v.LocationUri != None %}
                LocationUri: {{ v.LocationUri }}
                {% endif %}
                {% if v.Name != None %}
                Name: {{ v.Name }}
                {% endif %}
                {% if v.Parameters != None %}
                Parameters: {{ v.Parameters }}
                {% endif %}
    {% endif %}
    {% endif %}
{######################################################################################################################}
    {% if "GlueCrawler" in k %}
    {% if v.Name != None and v.Parameters != None %}
    {{ '#   ' + v.Description }}
    {{ k }}:
        Type: AWS::Glue::Crawler
        Properties:
            {% for c in v.Classifiers if c != None %}
            Classifiers:
                {% for cl in v.Classifiers %}
                {{ '- ' + cl }}
                {% endfor %}
            {% endfor %}
            {% if v.Configuration != None %}
            Configuration: {{ v.Configuration }}
            {% endif %}
            {% if v.CrawlerSecurityConfiguration != None %}
            CrawlerSecurityConfiguration: {{ v.CrawlerSecurityConfiguration }}
            {% endif %}
            {% if v.DatabaseName != None %}
            DatabaseName: {{ v.DatabaseName }}
            {% endif %}
            {% if v.Description != None %}
            Description: {{ v.Description }}
            {% endif %}
            {% if v.Name != None %}
            Name: {{ v.Name }}
            {% endif %}
            {% if v.Role != None %}
            Role: {{ v.Role }}
            {% endif %}
            {% if v.ScheduleExpression != None %}
            Schedule:
                ScheduleExpression: {{ vScheduleExpression }}
            {% endif %}
            {% if v.DeleteBehavior != None and v.UpdateBehavior != None %}
            SchemaChangePolicy:
                {% if v.DeleteBehavior != None %}
                DeleteBehavior: {{ v.DeleteBehavior }}
                {% endif %}
                {% if v.UpdateBehavior != None %}
                UpdateBehavior: {{ v.UpdateBehavior }}
                {% endif %}
            {% endif %}
            {% if v.TablePrefix != None %}
            TablePrefix: {{ v.TablePrefix }}
            {% endif %}
            {% if v.Tags != None %}
            Tags: {{ v.Tags }}
            {% endif %}
            {% if v.JdbcTargets != None and v.S3Targets != None %}
            Targets:
                {% if v.JdbcTargets != None %}
                JdbcTargets:
                    {% for j in v.JdbcTargets %}
                    - {{ j }}
                    {% endfor %}
                {% endif %}
                {% if v.S3Targets != None %}
                S3Targets:
                    {% for s in v.S3Targets %}
                    - Path: {{ s }}
                    {% endfor %}
                {% endif %}
            {% endif %}
    {% endif %}
    {% endif %}
{######################################################################################################################}
    {% if "S3" in k %}
    {% if v.Name != None %}
    {{ '#   ' + v.Description }}
    {{ k }}:
        Type: AWS::S3::Bucket
        Properties:
            {% if v.AccelerationStatus != None %}
            AccelerateConfiguration:
                AccelerationStatus: {{ v.AccelerationStatus }}
            {% endif %}
            {% if v.KMSMasterKeyID != None or v.SSEAlgorithm != None %}
            BucketEncryption:
                ServerSideEncryptionConfiguration:
                    -   ServerSideEncryptionByDefault:
                            {% if v.KMSMasterKeyID != None %}
                            KMSMasterKeyID: {{ v.KMSMasterKeyID }}
                            {% endif %}
                            {% if v.SSEAlgorithm != None %}
                            SSEAlgorithm: {{ v.SSEAlgorithm }}
                            {% endif %}
            {% endif %}
            BucketName: {{ v.BucketName }}
            {% if v.VersioningConfiguration != None %}
            VersioningConfiguration:
                Status: {{ v.VersioningConfiguration }}
            {% endif %}
            {% if v.BlockPublicAcls != None or v.BlockPublicPolicy or v.BlockPublicPolicy != None or v.RestrictPublicBuckets != None %}
            PublicAccessBlockConfiguration:
                {% if v.BlockPublicAcls != None %}
                BlockPublicAcls: {{ v.BlockPublicAcls }}
                {% endif %}
                {% if v.BlockPublicPolicy != None %}
                BlockPublicPolicy: {{ v.BlockPublicPolicy }}
                {% endif %}
                {% if v.IgnorePublicAcls != None %}
                IgnorePublicAcls: {{ v.IgnorePublicAcls }}
                {% endif %}
                {% if v.RestrictPublicBuckets != None %}
                RestrictPublicBuckets: {{ v.RestrictPublicBuckets }}
                {% endif %}
            {% endif %}
    {% endif %}
    {% endif %}
{######################################################################################################################}
    {% if "Lambda" in k or "Function" in k %}
    {% if v.FunctionName != None %}
    {{ '#   ' + v.Description }}
    {{ k }}:
        Type: AWS::Lambda::Function
        Properties:
            Code:
                {% if v.S3Bucket != None %}
                S3Bucket: {{ v.S3Bucket }}
                {% endif %}
                {% if v.S3Key != None %}
                S3Key: {{ v.S3Key }}
                {% endif %}
                {% if v.S3ObjectVersion != None %}
                S3ObjectVersion: {{ v.S3ObjectVersion }}
                {% endif %}
                {% if v.ZipFile != None %}
                ZipFile: {{ v.ZipFile }}
                {% endif %}
            {% if v.TargetArn != None %}
            DeadLetterConfig:
                TargetArn: {{ v.TargetArn }}
            {% endif %}
            {% if v.Description != None %}
            Description: {{ v.Description }}
            {% endif %}
            {% if v.EnvironmentVariables != None %}
            Environment:
                Variables:
                    {% for ek, ev in v.EnvironmentVariables.items() %}
                    {{ ek + ': ' + ev }}
                    {% endfor %}
            {% endif %}
            {% if v.FunctionName != None %}
            FunctionName: {{ v.FunctionName }}
            {% endif %}
            {% if v.Handler != None %}
            Handler: {{ v.Handler }}
            {% endif %}
            {% if v.KmsKeyArn != None %}
            KmsKeyArn: {{ v.KmsKeyArn }}
            {% endif %}
            {% if v.Layers != None %}
            Layers:
                {% for l in v.Layers %}
                - {{ l }}
                {% endfor %}
            {% endif %}
            {% if v.MemorySize != None %}
            MemorySize: {{ v.MemorySize }}
            {% endif %}
            {% if v.ReservedConcurrentExecutions != None %}
            ReservedConcurrentExecutions: {{ v.ReservedConcurrentExecutions }}
            {% endif %}
            {% if v.Role != None %}
            Role: {{ v.Role }}
            {% endif %}
            {% if v.Runtime != None %}
            Runtime: {{ v.Runtime }}
            {% endif %}
            {% if v.Timeout != None %}
            Timeout: {{ v.Timeout }}
            {% endif %}
            {% if v.TracingConfigMode != None %}
            TracingConfig:
                Mode: {{ v.TracingConfigMode }}
            {% endif %}
            {% if v.SecurityGroupIds != None or v.SubnetIds != None %}
            VpcConfig:
                {% if v.SecurityGroupIds != None %}
                SecurityGroupIds:
                    {% for se in v.SecurityGroupIds %}
                    - {{ se }}
                    {% endfor %}
                {% endif %}
                {% if v.SubnetIds != None %}
                SubnetIds:
                    {% for su in v.SubnetIds %}
                    - {{ su }}
                    {% endfor %}
                {% endif %}
            {% endif %}
    {% endif %}
    {% endif %}
{######################################################################################################################}
    {% if "EventRule" in k %}
    {% if v.FunctionName != None %}
    {{ '#   ' + v.Description }}
    {{ k }}:
        Type: AWS::Events::Rule
        Properties:
            {% if v.Description != None %}
            Description: {{ v.Description }}
            {% endif %}
            {% if v.EventPattern != None %}
            EventPattern: {{ v.EventPattern }}
            {% endif %}
            {% if v.Name != None %}
            Name: {{ v.Name }}
            {% endif %}
            {% if v.RoleArn != None %}
            RoleArn: {{ v.RoleArn }}
            {% endif %}
            {% if v.ScheduleExpression != None %}
            ScheduleExpression: {{ v.ScheduleExpression }}
            {% endif %}
            {% if v.State != None %}
            State: {{ v.State }}
            {% endif %}
            Targets:
                -   {% if v.TargetArn != None %}Arn: {{ v.TargetArn }}
                    {% endif %}
                    {% if v.EcsParametersGroup != None or v.EcsParametersLaunchType != None or v.NetworkConfigurationAssignPublicIp != None%}
                    EcsParameters:
                        {% if v.EcsParametersGroup != None %}
                        Group: {{ v.EcsParametersGroup }}
                        {% endif %}
                        {% if v.EcsParametersLaunchType != None %}
                        LaunchType: {{ v.EcsParametersLaunchType }}
                        {% endif %}
                        NetworkConfiguration:
                            AwsVpcConfiguration:
                                {% if v.NetworkConfigurationAssignPublicIp != None %}
                                AssignPublicIp: String
                                {% endif %}
                                {% if v.NetworkConfigurationSecurityGroups != None %}
                                SecurityGroups:
                                    {% for ncsg in v.NetworkConfigurationSecurityGroups %}
                                    - {{ ncsg }}
                                    {% endfor %}
                                {% endif %}
                                {% if v.NetworkConfigurationSubnets != None %}
                                Subnets:
                                    {% for ncs in v.NetworkConfigurationSubnets %}
                                    - {{ ncs }}
                                    {% endfor %}
                                {% endif %}
                        {% if v.PlatformVersion != None %}
                        PlatformVersion: {{ v.PlatformVersion }}
                        {% endif %}
                        {% if v.TaskCount != None %}
                        TaskCount: {{ v.TaskCount }}
                        {% endif %}
                        {% if v.TaskDefinitionArn != None %}
                        TaskDefinitionArn: {{ v.TaskDefinitionArn }}
                        {% endif %}
                    {% endif %}
                    {% if v.Id != None %}
                    Id: {{ v.Id }}
                    {% endif %}
                    {% if v.Input != None %}
                    Input: {{ v.Input }}
                    {% endif %}
                    {% if v.InputPath != None %}
                    InputPath: {{ v.InputPath }}
                    {% endif %}
                    {% if v.InputPathsKey != None and v.InputTemplate != None %}
                    InputTransformer:
                        InputPathsMap:
                            {% if v.InputPathsKey != None %}
                            Key: {{ v.InputPathsKey }}
                            {% endif %}
                            {% if v.InputTemplate != None %}
                            InputTemplate: {{ v.InputTemplate }}
                            {% endif %}
                    {% endif %}
                    {% if v.PartitionKeyPath != None %}
                    KinesisParameters:
                        PartitionKeyPath: {{ v.PartitionKeyPath }}
                    {% endif %}
                    {% if v.RoleArn != None %}
                    RoleArn: {{ v.RoleArn }}
                    {% endif %}
                    {% if v.RunCommandTargets.Key != None and v.RunCommandTargets.Values != None %}
                    RunCommandParameters:
                        RunCommandTargets:
                            -   Key: {{ v.RunCommandTargets.Key }}
                                Values:
                                    {% for rctv in v.RunCommandTargets.Values %}
                                    - {{ rctv }}
                                    {% endfor %}
                    {% endif %}
                    {% if v.MessageGroupId != None %}
                    SqsParameters:
                        MessageGroupId: {{ v.MessageGroupId }}
                    {% endif %}
    {% endif %}
    {% endif %}
{######################################################################################################################}
{% endfor %}
